extends Base.pug 

block scripts 
 script(src='/static/index.js')
block style
 style 
    include ../static/About-Us.css 
block content 
 section#section1 
  div.main
   h1 Symphony Scholars
   p At Symphony Scholars Music School, we believe in the transformative power of music to inspire, uplift, and connect individuals of all ages and backgrounds. Our mission is to nurture the talents of aspiring musicians, providing them with the skills, confidence, and creativity needed to excel in their musical journey. Whether you're just starting out or looking to refine your technique, Symphony Scholars offers a supportive and enriching environment where your passion for music can flourish.
   ul 
   li   Comprehensive Music Programs: Symphony Scholars offers a wide range of music programs tailored to meet the needs of students at every level, from beginners to advanced performers. Our curriculum is designed to provide a strong foundation in music theory, technique, and performance, while also encouraging creativity and personal expression.
   li   Experienced and Passionate Instructors: At Symphony Scholars, we pride ourselves on our team of highly qualified and passionate instructors. Each of our teachers is not only an accomplished musician but also an experienced educator dedicated to helping students reach their full potential. 
   li   State-of-the-Art Facilities: Our music school is equipped with state-of-the-art facilities designed to enhance the learning experience. From acoustically treated practice rooms to high-quality instruments and recording equipment, Symphony Scholars provides an environment where students can thrive. 
   li    Flexible Scheduling and Customized Learning Plans: We understand that every student’s musical journey is unique, which is why we offer flexible scheduling options and customized learning plans. Whether you're a busy professional, a student balancing academics and music, or a parent looking for the right program for your child, Symphony Scholars provides tailored solutions that fit your lifestyle. Our goal is to make music education accessible and enjoyable for everyone.
   hr
   h2 Our Partners 
    div#images
     img.img1(src="../static/Ludwigspon.png", alt="")
     img.img2(src="../static/Roland.png", alt="")
     img.img3(src="../static/gretschspon.png", alt="")
     img.img4(src="../static/Yamahaspon.png", alt="")
   hr.hr2
   h2.head More About Us
   div.more 
    h3 Hours of Operation:
    ul
    li Monday to Friday: 9:00 AM - 8:00 PM
    li Saturday: 10:00 AM - 5:00 PM
    li Sunday: Closed
   div.more2
    h3 Contact Us:
    ul
    li  Address: Dwarka,Delhi
    li  Phone: 7XXXXXXXX4
    li  Email: udxxxxxey@gmail.com  
