doctype html 
html
  head
    title Symphony Scholars
    block scripts
    block style 
  nav#navbar 
        ul
         li #[a(href='/') Home] 
         li #[a(href='/About-Us') About Us]
         li #[a( href='/Services') Our Services]
         li #[a(href='/Register') Register Now]
        <img src="../static/Logo.png" alt="">
  body
    block content
    footer#copyright © 2024 Symphony Scholars Music School. All rights reserved.