@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Navbar styling */
#navbar{
    background-color: black;
    opacity: 0.8;
    position: relative;

}
#navbar ul{
    display: flex;
    padding: 5px 5px;
    margin:0px;
}
#navbar li{
    color: white;
    list-style: none;
    margin: 15px;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 17px;
    margin: 15px;
}
#navbar ul li a:hover{
    border-radius: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 23px;
}
#navbar img{
    position: absolute;
    top: 12px;
    right: 50px;
    height: 45px;
    width: 45px;
    filter: invert(100%);
}

/* Section Styling */
#section1{
    display: flex;
    align-content: center;
    justify-content: center;
    background: center center / cover no-repeat url("../static/Contactusback.jpg");
    height: 89vh;
    margin: 0px;

}
.form{
    display: flex;
    opacity: 1;
    color: black;
    border: 2px solid black;
    background: rgba(245, 245, 220, 0.5);
    align-items: center;
    border-radius: 23px;
    flex-direction: column;
    width: 60%;
    height: 99%;
    margin: 5px 5px;
    position: relative;
}
.form h1{
    padding: 8px 10px;
    margin: 5px ;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;

}
.form-group{
    margin: 15px;
    position: absolute;
    left: 500px;
    top: 170px;
}
.myForm{
    display: flex;
    flex-direction: column;
}
.myClass{
    padding: 8px 15px;
    width: 500px;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    opacity: 0.95;
}
.myLabel{
    padding: 5px 5px;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;

}
.textarea{
    background-color: black;
    color: white;
    padding: 30px 15px;
    border-radius: 15px;
}
.btn{
    position: absolute;
    left: 205px;
    top: 470px;
    margin-top: 20px;
    width: 20%;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}

/* Footer Styling */
#copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}